body{
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Helvetica';
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card {
  width: 300px;
  display: inline-block;
  margin: 2em;
  /*height: 500px;*/
  background-color: rgb(234, 140, 140);
  font-family: 'Helvetica';
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -5px 1px 19px -2px rgba(200,200,200,1);
  -moz-box-shadow: -5px 1px 19px -2px rgba(200,200,200,1);
  box-shadow: -5px 1px 19px -2px rgba(200,200,200,1);
}

.card header, .card footer {
  text-align: center;
  font-size: 1.5em;
  padding: 0.15em;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 10;
  display: none;
}
.show {
  display: block;
}

.edit-modal {
  position: relative;
  margin: 200px auto;
  width: 400px;
  padding: 2em;
  background-color: white;
}

.modal-close-btn {
  display: block;
  font-size: 1em;
  position: relative;
  text-align: right;
}

.edit-modal form {
  width: 100%;
  display: block;
}

.edit-modal input {
  display: block;
  width: 100%;
  margin: 1em 0;
}

.card-image{
  width: 100%;
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-type-upside {
  display: inline-block;
  transform: rotate(180deg);
}

.delete-btn, .edit-btn {
  cursor: pointer;
  display: inline-block;
}
