body{
  width: 600px;
  margin: 0 auto;
}

.span-1,
.span-2,
.span-3 {
  min-height: 100px;
  float: left;
  margin-right: 20px;
}

.span-1{
  width: 180px;
  background-color: rgba(255, 0, 0, 0.3);
}
.span-2 {
  width: 380px; /* 360px + 20px margin */
  background-color: rgba(255, 0, 0, 0.5);
}

.span-3 {
  width: 580px;
  background-color: rgba(255, 0, 0, 0.7);
}
